*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

header{
    width: 100%;
    padding:1rem ;
    font-family: Inter,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

table.leaders{

}
.stats{
    display: flex;
    gap: 14px;
}

.board{
    display:grid;
    padding: 14px;
    max-width: 900px;
    max-height: 900px;
    border: black solid 2px;
    border-radius: 25px;
    grid-template-columns:repeat(4, minmax(0,180px));
    justify-items: center;
    gap: 1rem;
    perspective: 600px;
    background-image:url("../images/board.png");
    background-color: #f46161;
}

.card{
    width:100%;
    max-width: 180px;
    aspect-ratio: 1/1;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:hover{
    transform: scale(1.03);
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
}

.card__back{
    border-radius: 15px;
    aspect-ratio: 1/1;
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
}

.card__back img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.card__face{
    aspect-ratio: 1/1;
    backface-visibility: hidden;
    position: absolute;
    inset: 0;
    transform: rotateY(-180deg);

}

.card__face img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

button {
    padding: 5px;
    margin: 5px;
}
.newGame__button{
    display: inline-block;
}

.card.is-open{
    transform: rotateY(180deg);
}

.card.is-matched .card__face{
    border: 5px green solid;
    border-radius: 10px;
}

.modal{
    padding: 0;
    border: 0;
}

.modal__box{
    padding:24px;
}

.modal::backdrop{
    background-color: rgba(0 0 0 / 0.5);
}

body:has(.modal[open]){
    overflow: hidden
}